<a href="https://colab.research.google.com/github/SreeBhargaviM/Interview_Prep/blob/main/Pandas_Master_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
# Make a Pandas DataFrame with two-dimensional list
data = [["a", 1, 2, 3], ["b", 5, 3, 0], ["w", 2, 9, 9]] # List of tuples also works
data1 = pd.DataFrame(data)
data2 = pd.DataFrame(data, columns=["name", "math", "physics", "chem"])

In [3]:
data1

   0  1  2  3
0  a  1  2  3
1  b  5  3  0
2  w  2  9  9

In [4]:
data2

  name  math  physics  chem
0    a     1        2     3
1    b     5        3     0
2    w     2        9     9

In [8]:
# Create a Pandas DataFrame from List of Dicts
data = [{"name": "a", "total": 90, "pass":True}, {"name": "b", "total": 47, "pass":False}, {"name": "c", "total": 92, "pass":True}]
data1 = pd.DataFrame(data)
data2 = pd.DataFrame(data, index=["student_1", "student_2", "student_3"])

In [6]:
data1

  name  total   pass
0    a     90   True
1    b     47  False
2    c     92   True

In [7]:
data2

          name  total   pass
student_1    a     90   True
student_2    b     47  False
student_3    c     92   True

In [9]:
# Replace values in Pandas dataframe using regex
df = pd.DataFrame({'City':['New York', 'Parague', 'New Delhi', 'Venice', 'new Orleans'],
                    'Event':['Music', 'Poetry', 'Theatre', 'Comedy', 'Tech_Summit'],
                    'Cost':[10000, 5000, 15000, 2000, 12000]})
# pd.Period ---> represents a period of time
index_ = [pd.Period('02-2018'), pd.Period('04-2018'),
          pd.Period('06-2018'), pd.Period('10-2018'), pd.Period('12-2018')]
df.index = index_

In [10]:
df

                City        Event   Cost
2018-02     New York        Music  10000
2018-04      Parague       Poetry   5000
2018-06    New Delhi      Theatre  15000
2018-10       Venice       Comedy   2000
2018-12  new Orleans  Tech_Summit  12000

In [11]:
df_updated = df.replace(to_replace ='[nN]ew', value = 'New_', regex = True)
df_updated

                 City        Event   Cost
2018-02     New_ York        Music  10000
2018-04       Parague       Poetry   5000
2018-06    New_ Delhi      Theatre  15000
2018-10        Venice       Comedy   2000
2018-12  New_ Orleans  Tech_Summit  12000

In [13]:
df_updated_2 = df.replace(to_replace =['[Nn]ew', 'Venice'], value = 'NA', regex=True)
df_updated_2

               City        Event   Cost
2018-02     NA York        Music  10000
2018-04     Parague       Poetry   5000
2018-06    NA Delhi      Theatre  15000
2018-10          NA       Comedy   2000
2018-12  NA Orleans  Tech_Summit  12000

In [14]:
# pandas series
data = [1, 2, 3, 4, 5, 6, 7]
data_series = pd.Series(data)
data_series

0    1
1    2
2    3
3    4
4    5
5    6
6    7
dtype: int64

In [15]:
# Create copy
df_2 = df.copy(deep=True) # if deep=False, changing original df will change copy as well
df_2

                City        Event   Cost
2018-02     New York        Music  10000
2018-04      Parague       Poetry   5000
2018-06    New Delhi      Theatre  15000
2018-10       Venice       Comedy   2000
2018-12  new Orleans  Tech_Summit  12000

In [16]:
df_3 = df.copy()
df_3

                City        Event   Cost
2018-02     New York        Music  10000
2018-04      Parague       Poetry   5000
2018-06    New Delhi      Theatre  15000
2018-10       Venice       Comedy   2000
2018-12  new Orleans  Tech_Summit  12000

In [17]:
# locate value by index and column name
df.loc[pd.Period('06-2018'), "Event"] = "Party"
df

                City        Event   Cost
2018-02     New York        Music  10000
2018-04      Parague       Poetry   5000
2018-06    New Delhi        Party  15000
2018-10       Venice       Comedy   2000
2018-12  new Orleans  Tech_Summit  12000

In [18]:
df_3

                City        Event   Cost
2018-02     New York        Music  10000
2018-04      Parague       Poetry   5000
2018-06    New Delhi      Theatre  15000
2018-10       Venice       Comedy   2000
2018-12  new Orleans  Tech_Summit  12000

In [19]:
# pd.iloc
df.iloc[0]

City     New York
Event       Music
Cost        10000
Name: 2018-02, dtype: object

In [20]:
df.iloc[[0]]

             City  Event   Cost
2018-02  New York  Music  10000